<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}">Content</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="sidebar" th:include="index :: sidebar"></div>
    <div class="content" th:fragment="content">
        <div class="container">
            <div class="row">
                <div class="article">
                    <header>
                        <h2><a class="text-muted" href="" onclick="" th:text="${article.getTitle()}">Hello World</a></h2>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="text-muted" th:text="${#dates.format(article.getCreateTime(),'yyyy-MM-dd')}">2018-08-17</span>
                    </header>
                    <div class="description bg-success">
                        <p th:text="${article.getDescription()}"></p>
                    </div>
                    <footer>
                            <span class="label label-info">
                                <span class="glyphicon glyphicon-tag text-muted"></span>
                                <a style="color: white" href="" th:text="${article.getCatename()}">spring</a>
                            </span>
                    </footer>
                </div>
            </div>
            <div class="row">
                <article th:utext="${article.getContent()}"></article>
            </div>
        </div>
    </div>
<!-- script -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>